.create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.carton-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 20px 0;
}

.carton-list--item {
    border: 1px solid red;
    text-align: center;
    width: 160px;
    height: 160px;
}

.carton-list--item > h3 {
    border-bottom: none;
    background-color: #1A65C7;
    color: #FFF;
}

.carton-list--item:hover {
    cursor: pointer;
    background-color: #bcbcbc;
}

.carton-table {
    padding: 10px;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #000;
}

td {
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    background-color: #fff;
}

.carton-container {
    height: 100vh;
    display: flex;
    padding: 10%;
    justify-content: center;
}

.carton-container--display {
    padding: 20px;
}

.carton-container--display > h2 {
    text-align: center;
}

.carton-container--display__table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.carton-container--display__table > thead > tr > th {
    padding: 10px;
    background-color: #797904;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}

.carton-container--display__table > tr > td {
    width: 80px;
    height: 80px;
}

.carton-container--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.carton-container--form__select {
    background-color: aliceblue;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-right: 5px;
}

.carton-container--form__input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: aliceblue;
    font-size: 14px;
}

.carton-container--form__submit {
    margin-top: 10px;
    background-color: #0366fa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.carton-container--form__submit:hover {
    cursor: pointer;
    background-color: #1818f5;
}