.create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.carton-index--form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carton-index--form__input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1A65C7;
    margin-right: 10px;
    outline: none;
    font-size: 18px;
}

.carton-index--form__button, .carton-container--form__submit {
    background-color: #0366fa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.carton-index--form__button:hover, .carton-container--form__submit:hover {
    cursor: pointer;
    background-color: #092a55;
}


.carton-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 20px 0;
}

.carton-list--item {
    border: 1px solid red;
    text-align: center;
    width: 160px;
    height: 160px;
}

.carton-list--item > h3 {
    border-bottom: none;
    background-color: #1A65C7;
    color: #FFF;
}

.carton-list--item:hover {
    cursor: pointer;
    background-color: #bcbcbc;
}

.carton-table {
    padding: 10px;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #000;
}

td {
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    background-color: #fff;
}

.carton-container {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.carton-container--display {
    padding: 10px;
    width: 50%;
}

.carton-container--display > h2 {
    text-align: center;
    color: #1A65C7;
    width: 100%;
}

.carton-container--display > h2 > span {
    color: #FFF;
    background-color: #1A65C7;
    padding: 2px 5px;
    border-radius: 10px;
}

.carton-container--display__table {
    border: 1px solid #000;
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

.table-bingo-item {
    padding: 10px;
    background-color: #1A65C7;
    color: #FFF;
    text-shadow: 3px 3px 1px #000;
}

.position-value{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

/* Cambiar clase por si algo */
.marked {
    cursor: pointer;
    background-color: #bcbcbc;
}

.selected {
    background-color: #0366fa;
}

.carton-container--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
}

.carton-container--form__label {
    color: #1A65C7;
    font-size: 16px;
    margin-bottom: 10px;
}

.carton-container--form__input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1A65C7;
    background-color: #fff;
    font-size: 14px;
    outline: none;
    margin-bottom: 10px;
}

.error-container {
    font-size: 12px;
    margin: 5px 0;
    padding: 0 10px;
    font-weight: lighter;
    color: #ff0000;
}