.options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.button-action {
    text-align: center;
    background-color: #1A65C7;
    color: #FFF;
    box-shadow: 10px 10px 5px #000;
    width: 150px;
    height: 160px;
    text-align: center;
    padding: 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 24px;
}

.button-action:hover {
    cursor: pointer;
    background-color: #092a55;
}

.icon-button {
    font-size: 40px;
    width: 100%;
}